
body
	margin 0
	padding 0


app
	padding 10%
	font-family sans-serif
	color #444


.logo
	text-align center
	vertical-align middle
	img
		max-width 300px
		max-height 300px
	.image
		margin-bottom 1em
	.name
		font-weight bold
	.address
		margin-top 1em


.row
	width 100%
	display table
	table-layout fixed
	margin-top 5em

.col
	display table-cell
